<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      Customer Portal
    </span>
    <span class="spacer"></span>
    <button mat-icon-button (click) ="logout()">
      <mat-icon aria-label="logout">logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<br/>

<div class="container mat-elevation-z8">


<mat-table [dataSource]="dataSource" matSort class="mat-cell">

  <ng-container matColumnDef="customer_id">
    <mat-header-cell *matHeaderCellDef> customer_id </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.customer_id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer code">
    <mat-header-cell *matHeaderCellDef> customer code </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.customer_code}}  </mat-cell>
  </ng-container>


  <ng-container matColumnDef="customer name">
    <mat-header-cell *matHeaderCellDef> customer name </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.customer_name}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer address1">
    <mat-header-cell *matHeaderCellDef> customer address1 </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.customer_address1}}  </mat-cell>
  </ng-container>


  <ng-container matColumnDef="customer address2">
    <mat-header-cell *matHeaderCellDef> customer address2 </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.customer_address2}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer pincode">
    <mat-header-cell *matHeaderCellDef> customer pincode </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.customer_pincode}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="contact number">
    <mat-header-cell *matHeaderCellDef> contact number </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.contact_number}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="contact person">
    <mat-header-cell *matHeaderCellDef> contact person </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.primary_contact_person}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="record status">
    <mat-header-cell *matHeaderCellDef> record status </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.record_status}}  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <mat-header-cell *matHeaderCellDef> enabled </mat-header-cell>
    <mat-cell *matCellDef="let customer">{{customer.is_enabled}}  </mat-cell>
  </ng-container>


   <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="tablecols"></mat-header-row>
  <mat-row *matRowDef="let row; columns:tablecols"></mat-row>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>

       <mat-cell *matCellDef="let row;">
        <button mat-icon-button color="accent" (click)="approveCustomerDetails()">
          <mat-icon aria-label="check_circle">check_circle</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="rejectCustomerDetail(row.customer_id)">
        <mat-icon aria-label="Reject">highlight_off</mat-icon>
      </button>
      </mat-cell>

  </ng-container>

</mat-table>
</div>


